# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
  pull_request:

jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21.x'

    - name: go mod tidyで差分が出た時に報告
      run: |
          go mod tidy
          git diff --exit-code go.mod go.sum
          if [ $? -eq 1 ]; then
            echo "go mod tidy で差分が出ました。手元で go mod tidy を実行してください。"
            exit 1
          fi

    - name: フォーマットに差分が出た場合に報告
      run: |
          gofmt -s -l -w .
          git diff --exit-code
          if [ $? -eq 1 ]; then
            echo "gofmt -s -l -w . で差分が出ました。手元で gofmt -s -l -w . を実行してください。"
            exit 1
          fi

    - name: Build
      run: go build -v ./...
